{% extends 'base.html' %}
{% block content %}
<style>
    .room-container {
        display : gird;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class='home-container'>
    <div>
        {% include 'topics_component.html' %}
    </div>
    
    <h1>Home</h1>

    <div>
        <h5>{{room_count}} rooms available</h5>
        <a href="{% url 'create-room' %}">Create New Room</a>
    </div>

        <div>
            {% for room in rooms %}
            <div>
                {% include 'feed_component.html' %}
            </div>
            {% endfor %}
            <div>
                {% include 'activity_component.html' %}
            </div>
        </div>
</div>
{% endblock %}